.messmate-footer{

background:#8A7A70;

color:white;

padding:50px 6% 20px;

}



.footer-container{

display:grid;

grid-template-columns:2fr 1fr 1fr 1fr 1fr;

gap:35px;

}



.footer-section{

display:flex;

flex-direction:column;

gap:12px;

}



.brand-section h2{

font-size:28px;

margin-bottom:10px;

}



.brand-section p{

line-height:1.7;

color:#f5f0eb;

font-size:14px;

}



.footer-section h3{

font-size:18px;

margin-bottom:10px;

}



.footer-section a{

text-decoration:none;

color:#f5f0eb;

font-size:14px;

transition:.3s;

}



.footer-section a:hover{

color:white;

transform:translateX(5px);

}



.footer-section p{

font-size:14px;

color:#f5f0eb;

line-height:1.5;

}





.footer-bottom{

border-top:1px solid rgba(255,255,255,0.3);

margin-top:40px;

padding-top:20px;

display:flex;

justify-content:space-between;

align-items:center;

}



.footer-bottom p{

font-size:14px;

}



.social-links{

display:flex;

gap:20px;

}



.social-links a{

color:white;

text-decoration:none;

font-size:14px;

}




@media(max-width:1000px){


.footer-container{

grid-template-columns:repeat(3,1fr);

}


}



@media(max-width:700px){


.footer-container{

grid-template-columns:1fr;

}


.footer-bottom{

flex-direction:column;

gap:15px;

text-align:center;

}


}